trigger:
  branches:
    include:
      - main

variables:
  acrName: ltim01
  imageName: nodejsapp
  resourceGroup: Learning-AKS
  aksCluster: ltm

stages:
  - stage: BuildAndDeploy
    displayName: Build, Push and Deploy to AKS
    jobs:
      - job: BuildDeploy
        displayName: Build and Deploy
        pool:
          name: SelfHostedAgentPool

        steps:
          - checkout: self

          # Login to Azure and ACR
          - task: AzureCLI@2
            displayName: Login to Azure and ACR
            inputs:
              azureSubscription: 'az-ltm-01'
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                echo "Logging in to ACR..."
                az acr login --name $(acrName)

          # Build Docker Image
          - script: |
              echo "Building Docker image..."
              docker build -t $(acrName).azurecr.io/$(imageName):$(Build.BuildId) .
            displayName: Build Docker Image

          # Push Docker Image
          - script: |
              echo "Pushing image to ACR..."
              docker push $(acrName).azurecr.io/$(imageName):$(Build.BuildId)
            displayName: Push Image to ACR

          # Deploy to AKS
          - task: AzureCLI@2
            displayName: Deploy to AKS
            inputs:
              azureSubscription: 'az-ltm-01'
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az aks get-credentials \
                  --resource-group $(resourceGroup) \
                  --name $(aksCluster) \
                  --overwrite-existing

                kubectl set image deployment/nodejsapp \
                  nodejsapp=$(acrName).azurecr.io/$(imageName):$(Build.BuildId)
