trigger:
  branches:
    include:
      - main
 
variables:
  # Your ACR name
  acrName: ltim01
  # The name your image will have in ACR
  imageName: nodejsapp
 
stages:
  - stage: BuildAndPush
    displayName: Build and Push Docker Image to ACR
    jobs:
      - job: Build
        displayName: Build
        pool:
          vmImage: ubuntu-latest
 
        steps:
 
        # Check out the GitHub code
        - checkout: self
 
        # Log in to ACR using Azure CLI
        - task: AzureCLI@2
          displayName: Login to Azure and ACR
          inputs:
            azureSubscription: 'acr-ltim-01'
            scriptType: bash
            scriptLocation: inlineScript
            inlineScript: |
              echo "Logging in to ACR..."
              az acr login --name $(acrName)
 
        # Build the Docker image
        - script: |
            echo "Building the Docker image..."
            docker build -t $(acrName).azurecr.io/$(imageName):$(Build.BuildId) .
          displayName: Build Docker Image
 
        # Push the Docker image to ACR
        - script: |
            echo "Pushing image to Azure Container Registry..."
            docker push $(acrName).azurecr.io/$(imageName):$(Build.BuildId)
          displayName: Push Image to ACR
